<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Management</span>
                </li>
                <li>
                    <a th:href="@{'/teacher/index'}"><i class="feather-grid"></i> <span> Home</span></a>
                </li>
<!--                <li class="">-->
<!--                    <a th:href="@{'/teacher/classes'}"><i class="fas fa-building"></i> <span> Class</span></span></a>-->
<!--                </li>-->
<!--                <li class="">-->
<!--                    <a th:href="@{'/teacher/students'}"><i class="fas fa-graduation-cap"></i> <span> Student</span></span></a>-->
<!--                </li>-->
                <li>
                    <a th:href="@{'/teacher/profile'}"><i class="fas fa-graduation-cap"></i> <span> Profile</span></span></a>
                </li>
                <li>
                    <a th:href="@{'/teacher/attendance/index'}"><i class="fas fa-graduation-cap"></i> <span> Attendance</span></span></a>
                </li>
                <li>
                    <a th:href="@{'/teacher/view_teaching_schedule'}"><i class="fas fa-graduation-cap"></i> <span> Teaching Schedule</span></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
